.form-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
form{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
form input,select{
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;

    
}
button{
    margin-top: 1rem;
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;

}

