<div class="task-add" style="margin-top: 20rem;">
    <div class="form-container">
        <h1>Add Task</h1>
<form [formGroup]="taskForm" *ngIf="!submiting">
    <input type="text" placeholder="Enter title please" formControlName="title">
    <select name="" id="" formControlName="completed">
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
    <button type="submit" (click)="onSubmit()" >Add task</button>
</form>
<app-loader [isLoading]="submiting"></app-loader>

</div>
